<style>
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .form-control {
        border-radius: 10px;
    }
    .btn-primary {
        border-radius: 10px;
    }
    .login-class{
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container login-class mt-5 bg">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4 bg-black text-white">

                <h2 class="text-center mb-4">Iniciar Sesión</h2>

                {{#if message}}
                    <script>
                        alert("{{message}}");
                        window.location.href = '/';
                    </script>
                {{/if}}

                <form action="/login2" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Continuar</button>
                </form>
                <p class="text-center mt-3">
                    <small>¿No tienes una cuenta? <a href="/register">Regístrate aquí</a></small>
                </p>
            </div>
        </div>
    </div>
</div>



